@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Nunito&display=swap");
body {
  background: radial-gradient(
      ellipse farthest-side at 76% 77%,
      rgba(245, 228, 212, 0.25) 4%,
      rgba(255, 255, 255, 0) calc(4% + 1px)
    ),
    linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
  font-family: "Nunito", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
#input {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid black;
  background-color: #fff;
}
#emoji {
  padding: 1rem;
}
span {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
}
